body{
    background-color:Red;
}

#pagelayout{
    height:100vh;
    width:100%;
    display:grid;
    grid-template-rows:20% 80%;
    grid-template-columns:20% 80%;
    
}

#project{
    height:200px;
    width:200px;
    background-color: skyblue;
}

#bottomright{
    display:flex;
    flex-direction:row;
    gap:20px;

}

#todoform{
    display:flex;
    height:300px;
    width:300px;
    border:solid 2px green;
    background-color:cyan;
    position:absolute;
    top:40%;
    left:40%;
}