body{
    background-color:gray;
    margin:0px;
}

#checkboxfield{
    display:flex;
    flex-direction:column;
    margin-bottom:40px;


}

.inputfield{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
   

}


#inputcontainer{
    display:flex;
    flex-direction:row;
 align-items:Center;
}
#radiobox{

}

#pagelayout{
    height:100vh;
    width:100%;
    display:grid;
    grid-template-rows:15% 5% 80%;
    grid-template-columns:20% 80%;
    
}
#makeproject{
    height:100%;
    width:100%;
    grid-area:1/1/2/2;
}
#project{
    grid-area:1/1/2/2;

    height:40px;
    width:100%;
    font-size:20px;
    background-color: skyblue;
    border-radius:10px;
    border: 2px black solid;
}

#bottomright{
    grid-area:3/2/3/4;
    display:grid;
    grid-template-rows: repeat(auto-fill, 210px);
    grid-template-columns: repeat(auto-fill, 210px);
    flex-direction:row;
    gap:20px;
    background-color:tan;
}

#bottomleft{
    grid-area:2/1/4/2;
    background-color:white;
    display:flex;
    flex-direction:column;
    gap:10px;
}
label{
    text-align: center;;
}
#todocard{
    padding:10px;
    font-size:22px;
    position:relative;
    margin:10px;
    padding-top:20px;
    border-radius:14px;
    border:6px solid black;
    box-shadow:2px 2px 2px 2px;
    justify-content:center;
    align-items:center;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns:1fr;
    height:auto;
    width:200px;
    background-color:whitesmoke;
    box-shadow: 2px 2px 2px 2px;
}

#todocard:hover{
    height:300px;
    z-index: 1;
}

#desdiv{
    grid-area:3/1/4/2;
}

#labelname{
    text-align:center;
}

#forms{
    border-radius:8px;
    padding:10px;
    box-shadow:2px 2px 2px 2px;
    font-size:20px;
    display:none;
    flex-direction:column;
    height:auto;
    width:auto;
    background-color:blanchedalmond;
    position:absolute;
    top:40%;
    left:40%;
}
#forms > button{
    border-radius:10px;
    height:10px; 

}
#buttoncontainer{
    display:flex;
    flex-direction: row;
    gap:10px;
    margin:10px;

}


#checkboxfield{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    gap:8px;

}
#desdiv{
    display:none;
}


#removetodo{
    background-image:url('../images/delete.png');
    height:30px;
    width:30px;
    position:absolute;
    top:5px;
    right:5px;
    background-repeat: no-repeat;
    background-size:cover;
}

#edit{
    background-image:url('../images/edit.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:30px;
    width:30px;
    position:absolute;
    bottom:5px;
    right:5px;
}




#todoname{
    grid-area:1/1/2/2;
    font-size:auto;
    text-align:center;
}

#editform{
    gap:5px;
    position:absolute;
    top:40%;
    left:40%;
    font-size:16px;
    gap:10px;
    height:300px;
    width:300px;
    box-shadow: 2px 2px 2px 2px;
    border-radius:8px;
    border:solid light beige 4px;
    display:flex;
    flex-direction:column;
    background-color:lightslategray;
}

input{
    height:20px;
    width:auto;
}
input:active{
    background-color: skyblue;

}

#container{
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 3fr 1fr;
    height:40px;
    width:auto;
    font-size:18px;
}



#deleteproject{
    grid-area:1/2/2/3;
    background-image:url('../images/delete.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

#addtodo, #makeproject{
    height:100%;
    width:100%;
    font-size:40px;
    position:center;
    margin:auto;
    border-radius:20px;
    background-color:lightgray;
}

#topright, #topleft{
display:Flex;
justify-content:center;
align-items:center;
}

#bottomrightnotodo{
    grid-area:2/2/3/3;
    display:flex;
}

#heading{ 
    grid-area:2/2/3/3;
    width:100%;
    margin-right:0px;
    text-align: center; 
   background-color:lightgreen;
    font-size:48px;
   
}